<p id="notice"><%= notice %></p>

<% provide(:title, @user.username) %>
<div class="row">
<aside class="span4">
<section>
<h1><%= image_tag avatar_url(@user) %></h1>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


  <strong>Email:</strong>
  <%= @user.email %>
 

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</section>
</aside>
